pkgbase = age-plugin-yubikey
	pkgdesc = Yubikey plugin for age
	pkgver = 0.4.0
	pkgrel = 3
	url = https://github.com/str4d/age-plugin-yubikey
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = Apache
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = pcsclite
	optdepends = age: for use with age
	optdepends = rage-encryption: for use with rage
	source = https://github.com/str4d/age-plugin-yubikey/archive/v0.4.0/age-plugin-yubikey-0.4.0.tar.gz
	sha256sums = 721c2fd08fe8b7228ea43398475b954a8f0bc259b3a152f6f3b0dc66022df55e

pkgname = age-plugin-yubikey
