pkgbase = age-plugin-yubikey
	pkgdesc = Yubikey plugin for age
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/str4d/age-plugin-yubikey
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = Apache-2.0
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = pcsclite
	optdepends = age: for use with age
	optdepends = rage-encryption: for use with rage
	source = https://github.com/str4d/age-plugin-yubikey/archive/v0.5.0/age-plugin-yubikey-0.5.0.tar.gz
	sha256sums = 65807403f0098569a473ffa76302b205da148a7f46b61fd331b8e323959978ba

pkgname = age-plugin-yubikey
